# Ignore pyc
*.pyc
**/__pycache__

# Ignore Vim undo log
*.un~
*.swp

# Ignore VS Code settings
.vscode/

# Ignore Jupyter-Lab config file
jupyter_notebook_config.py

# Ignore data file
data/*

# Ignore local folder
local/*

