# Ignore pyc
*.pyc
**/__pycache__

# Ignore Vim undo log
*.un~
*.swp

# Ignore VS Code settings
.vscode/

# Ignore R history
**/.Rhistory

# Ignore ipython-notebook checkpoints
**/.ipynb_checkpoints

# Ignore data file
**/data
**/input

# Ignore pilot testing folder
#pilot/*

# Ignore local folder
#local/*

# Ignore archived folders and files
**/archived

